html {
    height: 100%;
}

body {
    background-image: url("src/img/chads_cornhole.jpg");
            background-repeat: no-repeat;
            background-size: cover
    font-family: Arial, sans-serif;
    color: #000;
    margin: 0 auto;
    padding: 2% 25%;
    border: 2px solid red;
    min-height: 100vh;
}
